body
{
    overflow-x: hidden; 
    width: 100%;
}

/*---------------Content wrapper---------------*/

/*wrapper for website content*/
div#main {
	padding-left: 0px;
	padding-right: 0px;
}

/*---------------Navigation---------------*/

/*nav-brand 'cakeface' text*/
span#cakeface {
	font-weight: 700;

}

/*nav-brand 'makeup' text*/
span#makeup {
	font-weight: 400;

}

/*list items in the top navigation bar*/
.nav#menu li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;

}

/*links in the top navigation bar*/
.nav#menu a:hover {
	color: #CB8D9A; /*CB8D9A*/
	text-decoration: none;
}

/*all lins under the nav class*/
.nav a {
	color: #474747;

}

.nav {
	margin-top: 5px;

}

/*brand on top right*/
.nav .pull-right {
	margin-top: 10px;
	padding-left:0px;
}

/*all navbars*/
.navbar {
	margin-bottom: 0;
}

/*div containing all the top navbar items*/
div#navContainer {
	margin-bottom: 10px;
}

/*all navbars*/
.navbar {
	background-color: white;
} 

/*div with class navbar-band*/
div .navbar-brand {
	margin-top:0px;
	padding-top:5px;
}

/*'Cakeface makeup' brand in top right of screen*/ 
.navbar-brand p{
	font-family: 'Lato', sans-serif;
	letter-spacing: 5px;
	transform: scale(0.9,0.8);
	text-transform: uppercase;
	font-size:22px;
	display:inline;
}

/*Cakeface logo in top right of screen*/
.navbar-brand img {
	display:inline;
}


/*---------------Jumbotron---------------*/

/*jumbtron*/
.jumbotron {
	background-image: url('brushes_full.jpg');
	height: 100vh; /*275px*/
	width:100%;

	background-size: cover;
	margin-top:70px;
	border-bottom: 2px solid #D9AAB6;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}

/*transparent layer upon jumbotron*/
div#intro {
	color: white;
	text-align: left;
	background: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px #000;
	min-width: 100%;
	height: 70vh;
	position: relative;
	
}

/*jumbotron header*/
h1#header {
	position: absolute;
	bottom: 0;
}

/*jumbotron paragraph*/
#para {
	color: white;
	text-align: left;
	background: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px #000;
	width: 100%;
	height: 30vh;
	
}

/*---------------About---------------*/

/*The Artisit section*/
.about .container-fluid {
	/*width: 100%;*/
	height: auto;
	padding-right: 0px;

}

/*The Artist section*/
.about  {
	color: #474747; /*#FFEDFD*/
	max-width: 100%;

}

/*The Artist section image*/
.about img {
	min-width:100%;
}

/*div containing the artist image*/
div#photo {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 15px;
}

div#artistAbout {
	
	padding-left: 25px;	
	padding-right: 15px;
}

div#aboutText {
	width: 95%
}

.about.container-fluid {
	max-width: 100%;
}


/*---------------Services---------------*/

/*Services section*/
.services {
	background-color: #fbf7f7; /*FAE8F8 */
	height: auto;
	width: 100%;

}

/*Services container*/
.services .container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;

}


/*.services .container-fluid img {
	max-width: 98%;
	display: block;
	margin: 0 auto;
}*/

/*Services panels*/
.panel {
	
	max-width: 90%;
	background: rgba(255,255,255,0.4);
	
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	margin: 0 auto;
	
	

}

/*p#beyond {
	
	letter-spacing: 5px;
	transform: scale(0.9,0.8);
	text-transform: uppercase;
	
	color: white;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	font-family: 'Fredericka the Great';
	font-size: 90px;
}*/

.subtitle {
	background-color: #FBEFF2;
	width: 100%;
}

button.navbar-toggle {
	margin-top:16px;
}

.services ul {
	margin-left:auto;
	margin-right:auto;
}



footer li {
	padding-left: 15px;
	padding-right: 15px;
	
	display: inline;
	}
	
footer ul {
	max-width:100%;
	margin-left:auto;
	margin-right:auto;

}

footer {
	padding-top: 20px;
	line-height: 5%;
}

footer a {
	vertical-align: middle;
}



