div#main {
	padding-left: 0px;
	padding-right: 0px;
}

div#intro {
	color: white;
	
	text-align: left;
	
	background: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px #000;
	
	width: 100%;
	
	height: 75vh;
	position: relative;
	
	

}

h1#header {
	position: absolute;
	bottom: 0;
}

#para {
	color: white;
	
	text-align: left;
	
	background: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px #000;
	
	width: 100%;
	
	height: 25vh;
	
	

}

.jumbotron {
	background-image: url('brushes_full.jpg');
	height: 100vh; /*275px*/

	background-size: cover;
	margin-top:70px;
	border-bottom: 2px solid #D9AAB6;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	
	

	

}

span#cakeface {
	font-weight: 400;

}

span#makeup {
	font-weight: 300;

}

.nav li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;



}

.nav a:hover {
	color: #474747;
	font-weight: bold;
	text-decoration: none;
}

.nav a {
	color: #474747;
}

.nav {
	margin-top: 5px;

}

.nav .pull-right {
	margin-top: 10px;
	padding-left:0px;
}



.nav .pull-left {
	padding-left: 0;
}

.nav .container {
	margin-left: 20;
	margin-right: 20;
}




.about .container-fluid {
	/*width: 100%;*/
	height: auto;
	margin-right: 0;
	margin-left: 0;

}

.about  {
	color: #474747; /*#FFEDFD*/

	
}

.about img {
	min-width:100%;
}

div#photo {
	padding-left: 0px;
}

.navbar {
	margin-bottom: 0;
}

div#navContainer {
	margin-bottom: 10px;
}

.navbar {
	background-color: white;
} 

.services {
	background-color: #fbf7f7; /*FAE8F8 */
	height: auto;

}

.services .container-fluid {
	margin-top: 30px;
	margin-bottom: 30px;
}

.services .container-fluid img {
	max-width: 98%;
	display: block;
	margin: 0 auto;
}

.panel {
	
	max-width: 90%;
	background: rgba(255,255,255,0.4);
	
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	margin: 0 auto;
	
	

}



a#logo {
	padding-top: 0;
	height: 68px;
}

div .description{
	
	width: 100%;
	height: 100%;
}



div .navbar-brand {
	margin-top:0px;
	padding-top:5px;
}

.navbar-brand p{
	font-family: 'Lato', sans-serif;
	letter-spacing: 5px;
	transform: scale(0.9,0.8);
	text-transform: uppercase;
	font-size:20px;
	display:inline;
}

.navbar-brand img {
	display:inline;
}

p#beyond {
	
	letter-spacing: 5px;
	transform: scale(0.9,0.8);
	text-transform: uppercase;
	
	color: white;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	font-family: 'Fredericka the Great';
	font-size: 90px;
}

.subtitle {
	background-color: #FBEFF2;
}

button.navbar-toggle {
	margin-top:16px;
}

.services ul {
	margin-left:auto;
	margin-right:auto;
}



footer li {
	padding-left: 15px;
	padding-right: 15px;
	}
	
footer ul {
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}



