body
{
    overflow-x: hidden; 
    width: 100%;
}

/*---------------Content wrapper---------------*/

.row{
	width: 100%;
	margin-right:  0px;
	margin-left: 0px;

}

/*wrapper for website content*/
div#main {
	padding-left: 0px;
	padding-right: 0px;	
}

/*---------------Navigation---------------*/

/*nav-brand 'cakeface' text*/
span#cakeface {
	font-weight: 700;
}

/*nav-brand 'makeup' text*/
span#makeup {
	font-weight: 400;
}

#brand {
	padding-right: 0px;
	padding-left: 0px;
}

/*list items in the top navigation bar*/
#menu li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

/*links in the top navigation bar*/
.nav#menu a:hover {
	color: #CB8D9A; /*CB8D9A*/
	text-decoration: none;
}

/*all navbars*/
.navbar {
	margin-bottom: 0;
}

/*div containing all the top navbar items*/

/*all navbars*/
#navbar1 {
	background-color: white;
} 

#navContainer1 {
	padding-left: 0px;
	padding-right: 0px; 
}

/*div with class navbar-band*/
.navbar-brand {
	margin-top:0px;
	padding:11px 0px 5px 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	height: auto;
	color: #727272;
}

/*'Cakeface makeup' brand in top right of screen*/ 
.navbar-brand p{
	font-family: 'Lato', sans-serif;
	letter-spacing: 5px;
	transform: scale(0.9,0.8);
	text-transform: uppercase;
	font-size:1.2em;
	display:inline;
}

/*Cakeface logo in top right of screen*/
.navbar-brand img {
	display:inline;
}

#navContainer2 {
	text-align: center;
	background: transparent;
	width: 100%;
}

button{
	width: 100%;	
	margin-left: 15px ;
	margin-right : auto;
	left: 15px;
}

button.navbar-toggle {
	margin-top:12px;
	margin-bottom:4px;
}

#menu-bar {
	background: rgba(203,141,154, 0.7);
	color: white;	
	width: 100%;
	font-family: 'Lato', sans-serif;
	margin-top: 65px;
}

@media only screen and (max-width: 335px) and (min-width: 319px){
	navbar-brand img {

		transform: scale(0.9, 0.9);
		-ms-transform: scale(0.9, 0.9);
		-webkit-transform: scale(0.9, 0.9);
	}

	.navbar-brand p {
		font-size: 1.1em;
	}

	#brand {
		padding-left: 3px;
		padding-right: 1px;
	}

}

@media only screen and (max-width: 318px) {
	#menu-bar{
		margin-top: 85px;
	}
}

.navMenuCollapse{
	width: 100%;
	position: relative;
	left: 36px;
}

.navMenuCollapse ul{ 
	width: 100%;	
}

#menu{
	
}

#menu a {
	color: white;
}

#menu li {
	
}

.dropdown-menu{
	background: rgba(203,141,154, 1);
	width: auto !important;	
}

/*------Footer-------*/
/*footer ul {
	max-width:100%;
	margin-left:auto;
	margin-right:auto;

}*/

footer {
	padding-top: 20px;
	/*line-height: auto;*/
	background: rgba(203,141,154, 0.7);	
	font-family: 'Lato', sans-serif;
	padding-bottom: 20px;
}

footer a {
	vertical-align: middle;
	color: #474747;

}

footer a:hover{
	text-decoration: none;
	color: #474747;
}

#contact{
	list-style-type: none;
	display: block;
	padding-left: 0px;
	font-size: 16px;	
}

#social li{
	display: inline-block;
	margin-right: 5px;		
}

#social{
	width: auto;
	margin-bottom: 20px;
	float: left;
	padding-left: 0px;
}

footer#end{
	background: rgba(203,141,154, 0.9);		
	width: 100%;	
	padding-bottom: 0px;
	padding-top: 10px;
}

#copyright{
	width: auto;

}