/*---------------Jumbotron---------------*/

/*jumbtron*/
.jumbo {
	
	height: auto; /*275px*/
	width:auto;

	/*background-size: cover;*/
	margin-top:0px;
	border-bottom: 1px solid #D9AAB6;
	padding-top: 0px;
	margin-bottom: 0px;
	/*background: rgba(0,0,0,0.2);*/
	position: relative;
	z-index: -1;
}

#pic {
	margin-right: 0px;
	margin-left: 0px;

}

.jumbo div{
	padding: 0px 0px 0px 0px;
}

.jumbo img{
	width: 100%;

}

/*transparent layer upon jumbotron*/
div#intro {
	color: white;
	text-align: left;
	
	text-shadow: 1px 1px 1px #000;
	min-width: 100%;
	height: 70vh;
	position: relative;
	z-index: 10;

	
}

/*jumbotron header*/
h1#header {
	position: absolute;
	bottom: 0;
}

/*jumbotron paragraph*/
#para {
	color: white;
	text-align: left;
	text-shadow: 1px 1px 1px #000;
	width: 100%;
	height: 30vh;
	
}

/*---------------Services---------------*/

/*Services section*/
.services {
	background-color: #fbf7f7; /*FAE8F8 */
	height: auto;
	width: 100%;
	font-family: 'Lato', sans-serif;

}

/*Services container*/
.services .container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;

}

/*Services panels*/
.panel {
	
	max-width: 90%;
	background: rgba(255,255,255,0.4);
	
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	margin: 0 auto;	

}

.services ul {
	margin-left:auto;
	margin-right:auto;
}


